@model MyShop.Core.ViewMoldels.BasketSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index","Basket")"><strong>@Model.BasketCount items</strong></a></li>
    <li><a href="@Url.Action("Index","Basket")"><strong>@string.Format("{0:c}", Model.BasketTotal)</strong></a></li>
</ul>
